/* .vertical-nav {
    width: 17rem;
    height: 100%;
    position: fixed;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.6s;
}
  
#sidebar.active {
    margin-left: -17rem;
} */

.styleImg {
    background: url('https://demos.creative-tim.com/paper-kit-pro-react/static/media/bruno-abatti.62de0ac8.jpg') no-repeat;
    background-size: 50% 50%;
}