body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100%;
    overflow-x: hidden;
}

.text-gray {
    color: #aaa;
}