body {
    /* background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100%;
    overflow-x: hidden; */
    background: url('https://demos.creative-tim.com/paper-kit-pro-react/static/media/pk-pro-cover.7998942a.jpg') no-repeat;
}

.text-gray {
    color: #aaa;
}